      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <form id="form">
              <div class="card text-center w-100">
                <div class="card-header bg-primary text-white">
                  <h2>Agregar obra</h2>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6 mt-3">
                        <label for="cliente" class="form-label">Cliente<span class="text-danger">*</span></label>
                        <select id="cliente" class="form-select form-select-sm" aria-label=".form-select-sm example">
                          <option selected value="">Seleccione cliente</option>
                          <option value="1">Ronald</option>
                          <option value="2">Yeison</option>
                          <option value="3">Pilar</option>
                        </select>
                    </div>
                    <div class="col-6 mt-3">
                      <label for="cliente" class="form-label">Dirección <span class="text-danger">*</span></label>
                      <select id="direccion" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected value="">Seleccione direccion</option>
                        <option value="Calle 103">Calle 103</option>
                        <option value="Cra 49">Cra 49</option>
                        <option value="Calle 99">Calle 99</option>
                      </select>
                    </div>
                    <div class="col-6 mt-3">
                      <label for="descripcion" class="form-label">Obra<span class="text-danger">*</span></label>
                      <input id="descripcion" type="text" class="form-control" placeholder="Descripcion de la obra" aria-label="Dirección">
                    </div>
                    <div class="col-6 mt-3">
                      <label for="fechaini" class="form-label">Fecha inicio<span class="text-danger">*</span></label>
                      <input id="fechaini" type="text" class="form-control" placeholder="" aria-label="Fecha">
                    </div>
                    <div class="col-6 mt-3">
                      <label for="example2" class="form-label">Empleados encargados<span class="text-danger">*</span></label>
                      <select name="example2" id="example2" class="form-control" multiple="multiple" style="display: none;">
                        <option value="1">Empleado 1</option>
                        <option value="2">Empleado 2</option>
                        <option value="3">Empleado 3</option>
                      </select>
                    </div>
                    <div class="col-6 mt-3">
                      <label for="example" class="form-label">Materiales requeridos<span class="text-danger">*</span></label>
                      <select name="example" id="example" class="form-control"  multiple="multiple" style="display: none;">
                        <option value="1">Material 1</option>
                        <option value="2">Material 2</option>
                        <option value="3">Material 3</option>
                      </select>
                    </div>
                  </div>  
                </div>
                <div class="card-footer text-center">
                  <div class="row">
                    <div class="col-md-6">
                      <button id="add" class="btn btn-primary w-50" href="obras.html"><h4>Agregar</h4></button>
                    </div>
                    <div class="col-md-6">
                      <a type="button" href="obras.html" class="btn btn-danger w-50"><h4>Cancelar</h4></a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>