/* Estilos generales para tamaños de pantalla más grandes */
.card {
    width: 100%;
  }
  
  /* Estilos específicos para tamaños de pantalla más pequeños */
  @media (max-width: 768px) {
    .card {
      width: 90%; /* Ajusta según sea necesario */
    }
  
    /* Estilos adicionales para botones de paginación */
    .pagination button {
      font-size: 18px; /* Ajusta según sea necesario */
      height: 33px; /* Ajusta según sea necesario */
    }
  }
  